PORT=5001

FRONTEND_URL=http://localhost:4321
COOKIE_SECURE=false
COOKIE_SAMESITE=Lax

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=alag

JWT_SECRET='your_jwt_secret_key_here'

EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true

GOOGLE_CLIENT_ID=
